.chart {
  background-color: #fff;
  border-radius: 10px;
  margin-right: 1%;
  box-shadow: 0px 0px 10px lightgray;
  padding: 10px 10px 30px 10px;
  margin: 10px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  margin-right: 1%;
  box-shadow: 0px 0px 10px lightgray;
  padding: 10px;
  margin: 10px;
}

.chart-header {
  color: darkgrey;
  font-weight: 500;
  margin-left: 2%;
}

.loading-spinner {
  height: 100%;
}

.query-input {
  margin-left: auto;
}

.student-row {
  padding-top: 10px;
}

.table tr:hover {
  background-color: rgba(148, 148, 148, 0.1) !important;
}

.student-table {
  max-height: 400px;
  overflow-y: scroll;
  border-radius: 6px;
}

.test-overview {
  max-height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table-header {
  width: 900px;
  position: sticky;
  top: -10px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.pop-up {
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* milestone tests */

.test-group {
  margin: 12px 0px 0px 0px;
  padding: 0;
  font-size: 100%;
}

.test-icon {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 8px 1px 4px;
}

.test {
  padding: 8px;
  border-radius: 6px;
  margin: 2px;
  transition: all 0.05s;
  display: block;
}

.test:hover {
  background: rgba(0,0,0,0.104);
}

/* .bar-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 70vw;
} */