:root {
  --button-color: #BB2585;
  --button-color-hovered: #971367;
}

.chart {
  background-color: #fff;
  border-radius: 10px;
  margin-right: 1%;
  box-shadow: 0px 0px 10px lightgray;
  padding: 10px 10px 30px 10px;
  margin: 10px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  margin-right: 1%;
  box-shadow: 0px 0px 10px lightgray;
  padding: 10px;
  margin: 10px;
}

.chart-header {
  color: darkgrey;
  font-weight: 500;
  margin-left: 2%;
}

.loading-spinner {
  height: 100%;
}

.student-row td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.student-row:hover td {
  background-color: rgba(148, 148, 148, 0.3);
}

.selected-row {
  filter: brightness(85%);
}

.student-table {
  max-height: 440px;
  overflow-y: scroll;
  border-radius: 6px;
}

.student-detail {
  text-align: left;
  background-color: #fff;
  margin-right: 1%;
  box-shadow: 0px 0px 10px lightgray;
  padding: 10px 60px;
  margin: 10px;
}

.test-overview {
  max-height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table-header {
  width: 900px;
  position: sticky;
  top: -10px;
  background-color: white;
  padding: 20px;
  z-index: 1;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.pop-up {
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* milestone tests */

.test-group {
  margin: 12px 0px 0px 0px;
  padding: 0;
  font-size: 100%;
}

.test-icon {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 8px 1px 4px;
}

.test {
  padding: 8px;
  border-radius: 6px;
  margin: 2px;
  transition: all 0.05s;
  display: block;
}

.test:hover {
  background: rgba(0,0,0,0.104);
}

/* buttons */
button {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--button-color);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 4px;
  width: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  /* transform: scale(1.03);  */
  background-color: var(--button-color-hovered);
}


/**/

.input {
  text-align: left;
  border-radius: 4px;
  border: 1px solid #C3CCCD;
  padding: 5px 5px 5px 2px;
  margin-left: 5px;
}

*:focus {
  outline: none;
  box-shadow: none;
}

.milestone-source {
  margin-left: auto;
}

.nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px lightgray;
  padding: 2px 10px;
}

.charts-overview {
  margin: 10px;
}

.divekit-header {
  text-decoration: underline;
  text-decoration-color: #5DC6F4;
  text-decoration-thickness: 4px;
}

.milestone-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40vh;
}

/* pop up */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: rgb(69, 6, 216);
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

/* user overview */
.user-overview {
  width: 100%;
}

.user-overview th {
  text-align: left;
}

.user-overview th, td {
  padding-right: 2em;
}

.user-overview .edit-box {
  text-align: right;
}

.user-overview .edit {
  /* background-color: transparent; */
}

.create-user input {
  text-align: left;
  border-radius: 4px;
  border: 1px solid #C3CCCD;
  padding: 5px;
  margin-right: 15px;
  width: 220px;
  font-size: 16px;
}

.input-title {
  font-size: 14px;
  /* margin: none; */
  margin-bottom: -1px;
  font-weight: bold;
}

.create-user {
  display: flex;
}

.create-user button {
  align-self: flex-end;
}

/* student detail page*/
.student-detail {
  display: flex;
  flex-direction: row;
}

.student-detail button {
  width: 180px;
  padding: 8px;
}

.student-detail a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.student-detail a:after {
  content: " ⤴";
  /* content: " ❐"; */
}

/* timeline */


.timeline {
  padding: 0em 34rem 0em 0em;
  /* height: 100%; */
}

.timeline-container {
  font-family: "PT Sans", sans-serif;
  width: 50%;
  margin: auto;
  display: block;
  position: relative;
}

.timeline-container ul.timeline-list {
  margin: 2.5em 0;
  padding: 0;
  display: inline-block;
}

.timeline-container ul.timeline-list li {
  list-style: none;
  margin: auto;
  margin-left: 10em;
  min-height: 50px;
  border-left: 2px solid #55EBFF;
  padding: 0 0 50px 30px;
  position: relative;
}

.timeline-container ul.timeline-list li:last-child {
  border-left: 0;
}

.timeline-container ul.timeline-list li::before {
  position: absolute;
  left: -10px;
  content: " ";
  border: 2px solid #55EBFF;
  border-radius: 500%;
  background: #55EBFF;
  height: 13px;
  width: 13px;
  transition: all 500ms ease-in-out;
}

ul.timeline-list li .timestamp {
  position: relative;
  width: 200px;
  font-size: 12px;
  text-align: left;
  padding-left: 15px;
  font-weight: bold;
}

.item-content {
  text-wrap: wrap;
  text-align: left;
  padding-left: 15px;
  padding-top: 4px;
}
